<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.login.dto.EduTeaBean">

<select id="insertTMember" parameterType="teabean">
INSERT INTO TEAJOIN VALUES(TEAJOIN_SEQ.NEXTVAL,#{id},
   #{name},#{pw},#{email},#{address},#{hp},#{birth},#{pwq},#{pwa},#{teachercode})
</select>

<select id="TeaidCheck" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT ID FROM TEAJOIN WHERE ID=#{VALUE}
	</select>
	
	<select id="TeaidCheck2" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT PW FROM TEAJOIN WHERE ID=#{VALUE}
	</select>
	
	<update id="infoTeaModify" parameterType="teabean">
	UPDATE TEAJOIN SET NAME=#{name},BIRTH=#{birth},HP=#{hp},EMAIL=#{email},ADDRESS=#{address},
	PWQ=#{pwq},PWA=#{pwa} WHERE ID=#{id}
	</update>
	
	<update id="updateTeaPw" parameterType="teabean">
	UPDATE TEAJOIN SET PW=#{pw} WHERE ID=#{id}
	</update>
	
	<delete id="teaDelete" parameterType="java.lang.String">
	DELETE FROM TEAJOIN WHERE ID=#{id}
	</delete>
	
	<select id="teaidfind" parameterType="java.util.HashMap" resultType="java.lang.String">
	SELECT ID FROM TEAJOIN WHERE NAME=#{name} AND PWQ=#{pwq} AND PWA=#{pwa}
	</select>
	
	<select id="teapwfind" parameterType="java.util.HashMap" resultType="java.lang.String">
	SELECT PW FROM TEAJOIN WHERE ID=#{id} AND NAME=#{name} AND PWQ=#{pwq} AND PWA=#{pwa} 
	</select>
	
	<update id="teaPwUpdate" parameterType="teabean">
	UPDATE TEAJOIN SET PW=#{pw} WHERE NAME=#{name}
	</update>
</mapper>